html, body {
    height: 100%;
}
.navbar-fixed-top{
    border: 0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  border: 0;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar .navbar-collapse ul li{
    text-align: left;
    margin-right: 2em;
    margin-left: 2em;
    letter-spacing: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-inverse .navbar-nav li.active a{
    color: #444 !important;
    background-color: #fff !important;
    background-image: none;
    box-shadow: none;
}
.cover.full-window{
	background-image: url(../images/bg1.jpg);	
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    display: table;
}
#home{
	color: rgba(255, 255, 255, .9);
}
#homeContent{
	display: table-cell; 
	vertical-align: middle;
	padding-top: 50px;
}
section{
    margin-top: 3em;
    margin-bottom: 3em;
}

#contact{
    margin-bottom: 0;
    min-height: 430px;
}

#loading{
    display: none; 
    height: 340px; 
    line-height: 340px; 
    text-align: center;
}
#alert{
    display: none;
}
.form-group.required .control-label:after { 
   content:"*";
   color:red;
}

.footer{
	width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #333333;
}
footer p{
	margin-bottom: 0;
}
div.socialIcons a{
	text-decoration: none;
}

@media(min-width: 992px) {
    .contactBackground{
        background-image: url(../images/bgContact.jpg); 
        background-size: auto;
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: opacity .4s;
        -o-transition: opacity .4s;
        transition: opacity .4s;
        display: block;
        height: 430px;
        width: 100%;
        position: absolute;
        left:0;
    }
    #contact h1, #contact form, #contact legend{
        color: #fff;
    }
}
@media(max-width: 768px) {
    .contactBackground{
        background-image: none; 
    }
    #mailForm{
        margin-top: 2em;
    }
}