/* GENERAL CSS */



/* Backgrounds will cover all the section
* --------------------------------------- */
#home,
#into,
#skills,
#experience,
#education,
#contact{
	background-size: cover;
	background-attachment: fixed;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#home{
	background-image: url(../images/bg1.jpg);
	text-align: center;
}
#home h1{
	font-family: 'Trirong', serif;
	font-size: 3em;
	color: white;
	margin: 0.3em;
}
#home h3{
	font-family: 'Russo One', sans-serif;
	color: white;
	font-size: 1.3em;
	font-weight: lighter;
}
#section0 h1{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
#section2{
	background-image: url(imgs/bg3.jpg);
	padding: 6% 0 0 0;
}
#section3{
	background-image: url(imgs/bg4.jpg);
	padding: 6% 0 0 0;
}
#section3 h1{
	color: #000;
}