html, body {
    height: 100%;
}
.cover.full-window{
	background-image: url(../images/bg1.jpg);	
	background-size: cover;
	background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    display: table;
}
#home{
	color: rgba(255, 255, 255, .9);
}
#homeContent{
	display: table-cell; 
	vertical-align: middle;
	padding-top: 50px;
}
section{
    margin-top: 3em;
    margin-bottom: 3em;
}
.contactBackground{
	background-image: url(../images/bg2.jpg);	
	background-size: auto;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
	z-index: -1;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    display: block;
    height: 430px;
    width: 100%;
    position: absolute;
    left:0;
}
#contact{
    margin-bottom: 0;
}
#contact h1, #contact form, #contact legend{
    color: #fff;
}

.footer{
	width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    background-color: #333333;
}
footer p{
	margin-bottom: 0;
}
div.socialIcons a{
	text-decoration: none;
}