/* GENERAL CSS */



/* Backgrounds will cover all the section
* --------------------------------------- */
#section0,
#section1,
#section2,
#section3{
	background-size: cover;
	background-attachment: fixed;
}

/* Defining each sectino background and styles
* --------------------------------------- */
#section0{
	background-image: url(imgs/bg1.jpg);
}
#section0 h1{
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
#section2{
	background-image: url(imgs/bg3.jpg);
	padding: 6% 0 0 0;
}
#section3{
	background-image: url(imgs/bg4.jpg);
	padding: 6% 0 0 0;
}
#section3 h1{
	color: #000;
}